<h1>Welcome == Home</h1>
<h2>This is the home page of Scriptr</h2>
<p>Find me in app/views/welcome/home.html.erb</p>
<p> It is now <%= @time %>.</p>
<p>
	<%= link_to "Pickr", welcome_pickr_path %>
</p>